<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Indicates that the app is a Node.js application -->
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Redirect all requests to index.js -->
        <rule name="StaticContent">
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>
    <!-- Specifies that Node.js should be used -->
    <iisnode loggingEnabled="true" />
  </system.webServer>
</configuration>
